:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --theme-white: #f1f3f9;
    --theme-lightblue: #3d90e3;
    --theme-darkblue: #174e87;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content-wrapper {
    max-width: 1500px;
    width: 100%;
    margin-inline: auto;
    padding-inline: 36px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 900px) {
    .content-wrapper {
        padding-inline: 12px;
    }
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}
