.activity-main {
    margin-top: 32px;
    width: 100%;
}

.activity-page {
    width: 100%;
}

.activity-cards {
    display: flex;
    gap: 24px;
    overflow: hidden;
    justify-content: flex-start;
}

@media (max-width: 900px) {
    .activity-cards {
        justify-content: center;
    }
}

.bottom-buttons {
    margin-top: 32px;
    display: flex;
    justify-content: flex-end;
}
