@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.navbar {
    padding: 24px 0;
}

.navbar .content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-title {
    font-size: 18px;
}

.navbar-title a {
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    color: #333;
    border: 1px solid #333;
    transition: all 0.2s ease;
}

.navbar-signup {
    font-size: 18px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.navbar-signup a {
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    transition: all 0.2s ease;
}

.navbar-signup a:first-child {
    color: #333;
    border: 1px solid #333;
}

.navbar-signup a:last-child {
    background-color: #333;
    color: white;
}

.navbar-signup button {
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid #333;
    background-color: transparent;
    color: #333;
    cursor: pointer;
    font-size: 18px;
}
